{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NVX7KW2');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Game Exchange</title>
    {% endif %}

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVX7KW2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
<!--          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Game Exchange <i><small>BETA</small></i></a> &lt;!&ndash;blog-home is the name we gave to our url pattern. It gets the absolute path&ndash;&gt;-->
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}"><img src="/media/logo-150-40.png"> <i><small>BETA</small></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">

              <!-- Navbar Left Side - Accessible by logged out users-->
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-faq' %}">FAQ</a>
            </div>

            <!-- Navbar Right Side - Only accessible by logged in users-->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <div class="dropdown show"> <!-- Dropdown -->
                  <a style="color: #cbd5db !important;" class="nav-item nav-link dropdown-toggle" href="{% url 'blog-confirmed-trades' %}" role="button" id="dropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Committed Offers</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'blog-confirmed-trades' %}">In Progress</a>
                    <a class="dropdown-item" href="{% url 'blog-completed-trades' %}">Completed</a>
                    <a class="dropdown-item" href="{% url 'blog-cancelled-trades' %}">Cancelled</a>
                  </div>
                </div> <!-- End Dropdown -->

                <a class="nav-item nav-link" href="{% url 'blog-matches' %}">Your Matches</a>
                <a class="nav-item nav-link" href="{% url 'blog-trades' %}">Your Offers</a>

                <div class="dropdown show"> <!-- Dropdown -->
                  <a style="color: #cbd5db !important;" class="nav-item nav-link dropdown-toggle" href="{% url 'blog-confirmed-trades' %}" role="button" id="dropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Make an Offer</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'trade-create' %}">Trade a game</a>
                    <a class="dropdown-item" href="{% url 'trade-buy' %}">Buy a game</a>
                    <a class="dropdown-item" href="{% url 'trade-sell' %}">Sell a game</a>
                  </div>
                </div> <!-- End Dropdown -->




                <a class="nav-item nav-link" href="{% url 'account' %}">Account</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}"><b>Log In</b></a>
                <a class="nav-item nav-link" href="{% url 'register' %}"><b>Sign Up</b></a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div id="message-prompt" class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
              <div class="content-section">

                  {% block sidebar %} {% endblock %} <!-- if on transaction page, show chat window-->

                  {% if user.id != Null %}

                        {% if user.email_confirmed != True %}
                            <div class="alert alert-danger" role="alert">
                              Your email has not been confirmed.
                            </div>
                        {% endif %}
                        <h5>Hi, {{user|truncatechars:26}}!</h5>
                        - Your membership type: <b>Standard</b><i>(beta)</i><br />
                        - <a href="#"><u>Membership type information</u></a> <br />
                  {% endif %}

                  <br />
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Submit Feedback</li>
                    <li class="list-group-item list-group-item-light">Request a New Feature</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Support</li>
                    <li class="list-group-item list-group-item-light">Contact Us</li>
                  </ul>
              </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(".post-button").on("click", function() {
            $(this).css('pointer-events', 'none');
            setTimeout(function(){
                $(".post-button").css('pointer-events', 'auto');
        }, 1250);
        });
    </script>
<!--    <script>-->
<!--        var message_element = document.getElementById("message-prompt");-->

<!--        setTimeout(function(){-->
<!--           message_element.style.display = "none";-->
<!--        }, 3000);-->
<!--    </script>-->

<!--    <link href="http://dal-yourlabs.rhcloud.com/static/collected/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />-->
<!--    <link href="http://dal-yourlabs.rhcloud.com/static/collected/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />-->
<!--<div class="toms-footer">This app was designed by <a href="http://alainwebdesign.ca/" target="_blank"><u>Alain Web Design</u></a></div>-->
</body>
</html>
