{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Your Confirmed Trades</h1>
<br />

<h5>These trades include a game you want for a game that you own, where either you or the other user have confirmed to go through with the trade</h5>
<br />
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
{% endif %}

    {% for transaction in transactions %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted"><b>Created:</b> {{ transaction.created_date|date:"M j, Y g:iA" }} PT</small>
                <small class="text-muted"><b>id(REMOVE):</b> {{ transaction.id }}</small>
            </div>

            {% if user.id == transaction.trade_one.user_who_posted_id %} <!--current user is the one who created the transaction-->
              <span class="article-content">Your copy of </span>
              <span><b>{{ transaction.trade_one.owned_game.name }}</b>({{ transaction.trade_one.owned_game.platform }}) </span>
              <span>for {{ transaction.trade_two.user_who_posted }}'s copy of
                  <b>{{ transaction.trade_one.desired_game.name }}</b>({{ transaction.trade_one.desired_game.platform }})</span>
            {% endif %}

            {% if user.id == transaction.trade_two.user_who_posted_id %} <!--current user is the 2nd to confirm the transaction-->
               <span class="article-content">Your copy of </span>
               <span><b>{{ transaction.trade_two.owned_game.name }}</b>({{ transaction.trade_two.owned_game.platform }}) </span>
               <span>for {{ transaction.trade_one.user_who_posted }}'s copy of
               <b>{{ transaction.trade_two.desired_game.name }}</b>({{ transaction.trade_two.desired_game.platform }})</span>
            {% endif %}

            <br /> <br />
            <h6><u>Current Status:</u> {{ transaction.status }}</h6>
            <a href="{% url 'confirmed-trade' transaction.id %}"
               style="padding: 5px 15px 5px 15px; margin-top: 10px"  class="btn btn-outline-primary">Open trade</a>
          </div>
        </article>

    {% endfor %}

    <p>Don't see a trade you confirmed? It may have been cancelled. Check your <a href="{% url 'blog-cancelled-trades' %}"><u>Cancelled Trades</u></a></p>


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
