{% extends "blog/base.html" %}
{% block content %}
    <h1>Frequently Asked Questions</h1>
    <p>Check out our FAQ's to get an answer to our most commonly asked questions.</p>

<div class="accordion" id="accordionExample">


  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          Why is Game Exchange better than trading on Facebook Marketplace or trading games in for store credit?
        </button>
      </h5>
    </div>
    <div id="collapseZero" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Facebook Marketplace and other online forums do not allow you to specify a game you would accept in exchange for the game you own.
        This can lead to you receiving many offers that are unfair to you, or that you are simply not interested in, if anyone sees your post at all.
        It can also lead to a lot of wasted time from back-and-forth communication and negotiating.
        <br /> <br />
        As for trade in values, getting a fair amount for your game is rare. Below are a few examples of trade-in values I was offered.
        These offers were given to me on April 10, 2021. <br /> <br />
        <ul>
          <li><b>Call of Duty: Cold War (Playstation 5): <u>$35.</u></b> This game currently costs $89.96 and was released November 13, 2020</li>
          <li><b>Spiderman (Playstation 5): <u>$25.</u></b> This game currently costs $64.96 and was released November 12, 2020</li>
          <li><b>The Last of Us 2 (Playstation 4): <u>$25.</u></b> This game currently costs $39.96 and was released June 19, 2020</li>
          <li><b>Far Cry 5 (Playstation 4): <u>$7.</u></b> This game currently costs $29.96 and was released March 27, 2018</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOnePointFive">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseOnePointFive" aria-expanded="true" aria-controls="collapseOnePointFive">
          Do you support PC games?
        </button>
      </h5>
    </div>
    <div id="collapseOnePointFive" class="collapse" aria-labelledby="headingOnePointFive" data-parent="#accordionExample">
      <div class="card-body">
        No. Most PC games are bought digitally. Game Exchange only supports console games that have been released to a physical format (disc).
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is an “Offer” and how do I create one?
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        An Offer represents a single entry by one user which indicates a trade or the buying or selling of a game. You can create one by going to the “Make an Offer” page. <br /> <br />
        <u>Example (Trade):</u> Jack owns the game Grand Theft Auto 5 and is willing to trade that for Far Cry 5. Jack goes to the “Make an Offer -> Trade a Game”
        page and enters Grand Theft Auto 5 in the “Game you own” field, and Far Cry 5 in the “Game you want in exchange” field.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          What is a "Match"?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        A match is when two users make an offer, and the criteria for both offers are met. There are three ways a match can occur:<br />
        <ul>
          <li><b>"Trade a Game"</b> offers show as a match when you own the game the other user wants, and want the game the other user owns in exchange.</li>
          <li><b>"Buy a Game"</b> offers show as a match when another user is selling your desired game for less than what you're willing to buy it for.</li>
          <li><b>"Sell a Game"</b> offers show as a match when another user wants to buy your owned game for more than what you're willing to sell it for.</li>
        </ul>

        <br />
        <u>Example (Trade):</u> Jack creates a new Trade. He owns Grand Theft Auto 5 and wants Far Cry 5 in exchange. Jill creates a new trade.
        She owns Far Cry 5 and wants Grand Theft Auto 5 in exchange. This would be considered a Match, and would show on <b>BOTH</b> Jack and Jill’s “Matches” page.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card"  type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          What is a "Committed Offer"?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        A Committed Offer is when one of the two users (you or the other user) from a Match has shown interest in following through with the offer.
        If a user opens their Matches page, a list will be displayed if any of the trades they submitted matches with any trades by other users. <br /> <br />
        If either user clicks “Commit to Trade”, it will be added to their “Committed Offers” page.
        A “Commit to Trade”, “Commit to Buy”, or “Commit to Sell” button is available on each match of the "Matches" page. Users can only have a certain number of "In Progress"
        committed offers at once, depending on their membership type. You can open a Committed Offer from that page by clicking the “Open trade” button. There you
        will see the trade’s current status, the username of the user you matched with, the details of the exchange and a chat window where you can arrange to meet the other user.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
          What status can a committed offer have, and what does each status mean?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <u>Waiting for 2nd confirmation from [username]:</u> One user of a match has clicked “Commit”.
        The other user from the Match has not confirmed the offer yet. <br /> <br />
        <u>Open:</u> Both users of a Match have committed and both plan on going following through with the offer.<br /> <br />
        <u>Cancelled: Manually cancelled by [username]:</u> One of the users has cancelled the offer and no longer wishes to follow through.<br /> <br />
        <u>Completed by [username]. Waiting on confirmation from [username]:</u> One user has set the offer as "Completed". The other user has not confirmed yet.<br /> <br />
        <u>Completed by both users:</u> Both users have completed the offer and the exchange has taken place.<br /> <br />
        <u>Flagged as incomplete by [username]</u> One user set the offer as "Completed", but the other user flagged it as incomplete.<br /> <br />
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
          What is the difference between the “Your Offers”, “Your Matches” and “Committed Offers” pages?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
          <li>The “Your Offers” page shows the "trade", "buy" and "sell" offers that you have submitted</li>
          <li>The “Your Matches” page shows a list of your offers which match the offer of another user. See above for "What is a Match?" <br />
          <li>The “Committed Trades” page is the list of your Matches where at least one of the two users (you or the other user)
            from a Match has confirmed that trade.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
          What if I see multiple matches for the same game that I own?
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        That means there are multiple users who want the game you own, in exchange for the game you want.
        It is up to you which user you would like to trade with.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseOne">
          How often is your database of video games updated?
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        At least once every two weeks.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseOne">
          What if there are multiple games I would accept in exchange for the game I currently own?
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Enter a new proposed trade for each game you would trade your owned game for. <br /> <br />
        <u>Example</u>: If you own Grand Theft Auto 5, and you would like to exchange it for either Far Cry 3 or Far Cry 4,
        open the “Propose New Trade” page and enter two trades: One that is Grand Theft Auto 5 for Far Cry 3, and
        one that is Grand Theft Auto 5 for Far Cry 4.
      </div>
    </div>
  </div>

<!--  <div class="card">-->
<!--    <div class="card-header" id="headingNine">-->
<!--      <h5 class="mb-0">-->
<!--        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseOne">-->
<!--          Are chat messages monitored by administrators?-->
<!--        </button>-->
<!--      </h5>-->
<!--    </div>-->
<!--    <div id="collapseNine" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">-->
<!--      <div class="card-body">-->
<!--        Chat messages are not viewed unless a user is reported for bullying or disrespectful communication. At-->
<!--        that point, an administrator will review the chat logs and if necessary, suspend or terminate the offending user’s account.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseNineTwo" aria-expanded="true" aria-controls="collapseOne">
          What if there are multiple games I would exchange for the game I currently own?
        </button>
      </h5>
    </div>
    <div id="collapseNineTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Enter a new proposed trade for each game you would trade your owned game for. <br /> <br />
        <u>Example</u>: If you own Grand Theft Auto 5, and you would like to exchange it for either Far Cry 3 or Far Cry 4,
        open the “Propose New Trade” page and enter two trades: One that is Grand Theft Auto 5 for Far Cry 3, and
        one that is Grand Theft Auto 5 for Far Cry 4.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTen">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseOne">
          How many games are available to choose from, and what platforms are available?
        </button>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        There are around 20,000 games in our database that you can choose from. <br /> <br />
        The available platforms are:
        <ul>
          <li>Playstation 5</li>
          <li>Playstation 4</li>
          <li>Playstation 3</li>
          <li>Playstation 2</li>
          <li>Xbox Series X</li>
          <li>Xbox One</li>
          <li>Xbox 360</li>
          <li>Xbox</li>
          <li>Switch</li>
          <li>Wii U</li>
          <li>Wii</li>
          <li>Gamecube</li>
        </ul>
        <p><i>Note: There are no PC games included as most are bought digitally</i></p>
      </div>
    </div>
  </div>

<br /> <br />
</div>


{% endblock content %}
