{% extends "blog/base.html" %}
{% block content %}
    <h1>Frequently Asked Questions</h1>
    <p>Check out our FAQ's to get an answer to our most commonly asked questions.</p>

<div class="accordion" id="accordionExample">


  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is a “Trade” and how do I create one?
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        A trade represents a single entry by one user which indicates a game they own, and a game they want in exchange for
        the game they own. You can create one by going to the “Propose New Trade” page. <br /> <br />
        <u>Example:</u> Jack owns the game Grand Theft Auto 5 and is willing to trade that for Far Cry 5. Jack goes to the “Propose New Trade”
        page and enters Grand Theft Auto 5 in the “Game you own” field, and Far Cry 5 in the “Game you want in exchange” field.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          What is a Match?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        When one user submits a trade, they indicate the game they own and the game they want in exchange. If another user submits a trade,
        it is considered a Match if the game the first user owns is the game the second user wants, <b>AND</b> the game the first user wants is
        the game the other second user owns. <br /> <br />
        <u>Example:</u> Jack creates a new Trade. He owns Grand Theft Auto 5 and wants Far Cry 5 in exchange. Jill creates a new trade.
        She owns Far Cry 5 and wants Grand Theft Auto 5 in exchange. This would be considered a Match, and would show on <b>BOTH</b> Jack and Jill’s “Matches” page.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card"  type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
          What is a Confirmed Trade?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        A Confirmed Trade is when one of the two users (you or the other user) from a Match has shown interest in following through with the trade.
        If a user opens their Matches page, a list will be displayed if any of the trades they submitted matches with any trades by other users. <br /> <br />
        A “Confirm Trade” button is available on each match. If either user clicks “Confirm Trade”, it will be added to their “Confirmed Trades” page.
        You can open a Confirmed Trade from that page by clicking the “Open trade” button. There you will see the trade’s current status, the username
        of the user you matched with, the two games involved in the trade and a chat window where you can arrange to meet the other user.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
          What statuses can a confirmed trade have, and what does each status mean?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <u>Waiting for 2nd confirmation from [username]:</u> One user of a match has clicked “Confirm Trade”.
        The other user from the Match has not confirmed the trade yet. <br /> <br />
        <u>Open:</u> Both users of a Match have clicked “Confirm trade” and both plan on going following through with the trade. A chat window is now open for the users
        to arrange a meeting.<br /> <br />
        <u>Cancelled: Manually cancelled by [username]:</u> One of the users has cancelled the trade and no longer wishes to follow through.<br /> <br />
        <u>Cancelled: Auto-cancelled because [username] did not confirm the trade within 2 days:</u> One user clicked “Confirm trade” on a Match,
        but the other user did not confirm within three days, so the trade was cancelled.<br /> <br />
        <u>Auto-cancelled due to inaction:</u> Both users from a Match confirmed a trade, but did not complete the trade within 9 days of
        the first user clicking “Confirm trade”
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
          What is the difference between the “Your Trades”, “Matches” and “Confirmed Trades” pages?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
          <li>The “Your Trades” page shows the proposed trades that you have submitted</li>
          <li>The “Matches” page shows a list where in one of your proposed trades, the game you own is the game another
            user wants, and the game you want in exchange is the game the other user owns.</li>
          <li>The “Confirmed Trades” page is the list of your Matches where at least one of the two users (you or the other user)
            from a Match have confirmed that trade.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
          What if I see multiple matches for the same game that I own?
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        That means there are multiple users who want the game you own, in exchange for the game you want.
        It is up to you which user you would like to trade with.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseOne">
          How often is your database of video games updated?
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        At least once every two weeks.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseOne">
          What if there are multiple games I would exchange for the game I currently own?
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Enter a new proposed trade for each game you would trade your owned game for. <br /> <br />
        <u>Example</u>: If you own Grand Theft Auto 5, and you would like to exchange it for either Far Cry 3 or Far Cry 4,
        open the “Propose New Trade” page and enter two trades: One that is Grand Theft Auto 5 for Far Cry 3, and
        one that is Grand Theft Auto 5 for Far Cry 4.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingNine">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseOne">
          Are chat messages monitored by administrators?
        </button>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Chat messages are not viewed unless a user is reported for bullying or disrespectful communication. At
        that point, an administrator will review the chat logs and if necessary, suspend or terminate the offending user’s account.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseOne">
          What if there are multiple games I would exchange for the game I currently own?
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Enter a new proposed trade for each game you would trade your owned game for. <br /> <br />
        <u>Example</u>: If you own Grand Theft Auto 5, and you would like to exchange it for either Far Cry 3 or Far Cry 4,
        open the “Propose New Trade” page and enter two trades: One that is Grand Theft Auto 5 for Far Cry 3, and
        one that is Grand Theft Auto 5 for Far Cry 4.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTen">
      <h5 class="mb-0">
        <button class="btn btn-link toms-mobile-card" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseOne">
          How many games are available to choose from, and what platforms are available?
        </button>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        There are around 23,200 games in our database that you can choose from. <br /> <br />
        The available platforms are:
        <ul>
          <li>Playstation 5</li>
          <li>Playstation 4</li>
          <li>Playstation 3</li>
          <li>Playstation 2</li>
          <li>Xbox Series X</li>
          <li>Xbox One</li>
          <li>Xbox 360</li>
          <li>Xbox</li>
          <li>Switch</li>
          <li>Wii U</li>
          <li>Wii</li>
          <li>Gamecube</li>
          <li>PC - TBD as most PC games are bought digitally</li>
        </ul>
      </div>
    </div>
  </div>


</div>


{% endblock content %}
