{% extends "blog/base.html" %}
{% block content %}
<h1>Your Matches</h1>
<br />

<h5>These proposed trades by other users include a game you want for a game that you own</h5>
<br />
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
{% endif %}
    {% for trade in trades %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <small style="padding-right: 10px" class="text-muted"><b>Created By:</b> {{ trade.t2_username }}</small>
                <small class="text-muted"><b>Created:</b> {{ trade.t2_created_date|date:"M j, Y g:iA" }} PT</small>
            </div>
              <span class="article-content"><a href="{% url 'blog-home' }">{{ trade.t2_username }}</a> wants to trade their copy of </span>
              <span><b>{{ trade.desired_game.name }}</b>({{ trade.desired_game.platform }}) for your copy of </span>
              <span><b>{{ trade.owned_game.name }}</b>({{ trade.owned_game.platform }})</span> <br />
             <button style="padding: 5px 15px 5px 15px; margin-top: 10px" data-toggle="modal"
                     data-target="#confirmTradeModal-{{trade.id}}" class="btn btn-outline-info">Confirm trade
             </button>
          </div>
        </article>

        <!-- Modal -->
        <div class="modal fade" id="confirmTradeModal-{{trade.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div style="max-width: 45%" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm trade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p><b>You are committing to {{ trade.t2_username }} to follow through with this trade.</b></p>
                  <p>This trade is:</p>
                <span>- Your copy of: <b>{{ trade.owned_game.name }}</b>({{ trade.owned_game.platform }})<br /></span>
                <span>- For {{ trade.t2_username }}'s copy of: <b>{{ trade.desired_game.name }}</b>({{ trade.desired_game.platform }})</span> <br /> <br />
                <p style="margin-left: 1%"><i class="fa fa-info-circle" aria-hidden="true"></i> You will have 3 <a href="#" target="_blank">
                    trade confirmations</a> available after confirming this trade</p>
              </div>
            <form action="{% url 'trade-confirm' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ trade.id }}" name="trade_1_id">
                <input type="hidden" value="{{ trade.t2_id }}" name="trade_2_id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm trade</button>
              </div>
            </form>
            </div>
          </div>
        </div>
    {% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
