
{% extends 'blog/room.html' %}
{% load static %}
{% block content %}

{% if user.id != object.trade_one.user_who_posted_id and user.id != object.trade_two.user_who_posted_id and user.id != 1 %}
    <div>There was a problem loading this page. You may not have access.</div>
{% endif %}

<!--hardcode-->
{% if user.id == object.trade_one.user_who_posted_id or user.id == object.trade_two.user_who_posted_id or user.id == 1 %}

    {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
    {% endif %}
        <div class="content-section">

                <div class="form-group">
                    <legend class="border-bottom mb-4">Confirmed Trade: {{ object.trade_one.user_who_posted }}
                        and {{ object.trade_two.user_who_posted }} </legend>
                    {% if 'Manually cancelled' in object.status %}
                        <h6><u>Current Status:</u> {{ object.status }} on {{ object.user_cancelled_date|date:"M j, Y g:iA" }}</h6> <!--hardcode-->
                    {% else %}
                        <h6><u>Current Status:</u> {{ object.status }}</h6>
                    {% endif %}
                    {% if 'Waiting' in object.status %} <!--hardcode. waiting on 2nd users confirmation-->
                        <h6><span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="
                        {{ object.trade_two.user_who_posted }} has until this date to confirm before this trade is auto-cancelled"></span>
                        <u>Expiry Date</u>: {{ object.expiry_date|date:"M j, Y" }}</h6>
                    {% endif %}

                    {% if 'Open' in object.status %} <!--hardcode. trade is open. Will auto-cancel in 1 week-->
                        <h6><span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="
                        If the trade is not completed by this date, it will be auto-cancelled"></span>
                        <u>Expiry Date</u>: {{ object.open_expiry_date|date:"M j, Y" }}</h6>
                    {% endif %}

                    {% csrf_token %}
                </div>

                {% if user.id == object.trade_one.user_who_posted_id %} <!--current user is the one who created the transaction-->
                  <div class="modal-body">
                      <p><u>This trade is:</u></p>
                    <span>- Your copy of: <b>{{ object.trade_one.owned_game }}</b>({{ object.trade_one.owned_game.platform }})<br /></span>
                    <span>- For {{ object.trade_two.user_who_posted }}'s copy of: <b>{{ object.trade_two.owned_game }}</b>({{ object.trade_two.owned_game.platform }})</span> <br />
                  </div>
                {% endif %}

                {% if user.id == object.trade_two.user_who_posted_id %} <!--current user is the user the one that needs to confirm the transaction-->
                  <div class="modal-body">
                      <p>This trade is:</p>
                    <span>- Your copy of: <b>{{ object.trade_two.owned_game }}</b>({{ object.trade_two.owned_game.platform }})<br /></span>
                    <span>- For {{ object.trade_one.user_who_posted }}'s copy of: <b>{{ object.trade_one.owned_game }}</b>({{ object.trade_one.owned_game.platform }})</span> <br />
                  </div>
                {% endif %}
                 <br />

                {% if 'Cancelled' not in object.status %} <!--hardcode-->
                    <span class="form-group">
                        <button data-toggle="modal" data-target="#cancelTransactionModal" class="btn btn-outline-danger">Cancel trade</button>
                    </span>
                {% endif %}

                <!--Only show the confirm button if the current user is transaction.trade_two.user, because trade_one.user created this transaction-->
                {% if 'Cancelled' not in object.status and 'Open' not in object.status and user.id == object.trade_two.user_who_posted_id %} <!--hardcode CASE-->
                    <span style="margin-left: 2%;" class="form-group">
                        <button data-toggle="modal" data-target="#confirmTransactionModal" class="btn btn-outline-primary">Confirm trade and open chat</button>
                    </span>
                {% endif %}
            <br />

        </div>


    <!-- Cancel Modal -->
            <div class="modal fade" id="cancelTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div style="max-width: 38%" class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cancel this trade?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    {% if user.id == object.trade_one.user_who_posted_id %} <!--current user is the one who created the transaction-->
                      <div class="modal-body">
                          <p>This trade is:</p>
                        <span>- Your copy of: <b>{{ object.trade_one.owned_game }}</b>({{ object.trade_one.owned_game.platform }})<br /></span>
                        <span>- For {{ object.trade_two.user_who_posted }}'s copy of: <b>{{ object.trade_two.owned_game }}</b>({{ object.trade_two.owned_game.platform }})</span> <br />
                      </div>
                    {% endif %}
                    {% if user.id == object.trade_two.user_who_posted_id %} <!--current user is the user the one that needs to confirm the transaction-->
                      <div class="modal-body">
                          <p>This trade is:</p>
                        <span>- Your copy of: <b>{{ object.trade_two.owned_game }}</b>({{ object.trade_two.owned_game.platform }})<br /></span>
                        <span>- For {{ object.trade_one.user_who_posted }}'s copy of: <b>{{ object.trade_one.owned_game }}</b>({{ object.trade_one.owned_game.platform }})</span> <br />
                      </div>
                    {% endif %}
                <form action="{% url 'confirmed-trade-cancel' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ object.id }}" name="transaction_id">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-danger">Cancel trade</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

    <!-- Confirm Modal -->
            <div class="modal fade" id="confirmTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div style="max-width: 38%" class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm this trade?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    {% if user.id == object.trade_one.user_who_posted_id %} <!--current user is the one who created the transaction-->
                      <div class="modal-body">
                          <p>This trade is:</p>
                        <span>- Your copy of: <b>{{ object.trade_one.owned_game }}</b>({{ object.trade_one.owned_game.platform }})<br /></span>
                        <span>- For {{ object.trade_two.user_who_posted }}'s copy of: <b>{{ object.trade_two.owned_game }}</b>({{ object.trade_two.owned_game.platform }})</span> <br />
                      </div>
                    {% endif %}
                    {% if user.id == object.trade_two.user_who_posted_id %} <!--current user is the user the one that needs to confirm the transaction-->
                      <div class="modal-body">
                          <p>This trade is:</p>
                        <span>- Your copy of: <b>{{ object.trade_two.owned_game }}</b>({{ object.trade_two.owned_game.platform }})<br /></span>
                        <span>- For {{ object.trade_one.user_who_posted }}'s copy of: <b>{{ object.trade_one.owned_game }}</b>({{ object.trade_one.owned_game.platform }})</span> <br />
                      </div>
                    {% endif %}
                <form action="{% url 'confirmed-trade-open' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ object.id }}" name="transaction_id">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-primary">Confirm trade and open chat</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
    </script>
    <style>
        .bs-example{
            margin: 50px;
        }
        .bs-example a{
            font-size: 22px;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>


    {% endif %} <!--end if currentuser == trade_one.user or trade_two.user-->

{% endblock content %}
