{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Your Trades</h1>
<br />

<h5>These are the trades you have proposed to other users</h5>
<br />
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
{% endif %}

    {% for trade in trades %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted"><b>Created:</b> {{ trade.created_date|date:"M j, Y g:iA" }} PT</small>
                <small class="text-muted"><b>id(REMOVE):</b> {{ trade.id }}</small>
            </div>
              <span class="article-content">You want to trade your copy of </span>
              <span><b>{{ trade.owned_game.name }}</b>({{ trade.owned_game.platform }}) </span>
              <span>for someone else's copy of <b>{{ trade.desired_game.name }}</b>({{ trade.desired_game.platform }})</span> <br />
             <button style="padding: 5px 15px 5px 15px; margin-top: 10px" data-toggle="modal" data-target="#deleteTradeModal-{{trade.id}}" class="btn btn-outline-danger">Delete trade</button>
          </div>
        </article>

        <!-- Modal -->
        <div class="modal fade" id="deleteTradeModal-{{trade.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div style="max-width: 38%" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete this trade?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>This trade is:</p>
                <span>- Your copy of: <b>{{ trade.owned_game.name }}</b>({{ trade.owned_game.platform }})<br /></span>
                <span>- For someone else's copy of: <b>{{ trade.desired_game.name }}</b>({{ trade.desired_game.platform }})</span> <br />
              </div>
            <form action="{% url 'trade-delete' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" value="{{ trade.id }}" name="trade_id">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete trade</button>
              </div>
            </form>
            </div>
          </div>
        </div>
    {% endfor %}


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
