{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if user.email_confirmed == False and user.email_confirmation_overdue %}
            <div class="alert alert-danger" role="alert">
              You must confirm your email before logging in again. Check your email or
                <b><u><a href="{% url 'new-activation-link' %}">CLICK HERE</a></u></b>
                to resend the confirmation email. You may have to check your junk/spam folder.
            </div>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="post-button btn btn-outline-info" type="submit">Login</button>
                    <small class="text-muted ml-2">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </small>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                </small>
            </div>
        {% endif %}
    </div>
{% endblock content %}
