{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form id="register-form" method="POST" onsubmit="event.preventDefault(); validSignUp();">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create your account</legend>
                {{ form|crispy }}
            </fieldset>

        <h4 style="text-align: center;">Your City or Postal Code</h4>
        <p style="text-align: center; font-size: 80%;" class="text-muted">This allows us to specifically recommend trades with users who are close to you</p>


        <!-- MAP -->
        <div style="height:300px;">
            <div style="display: none;">
              <input style="margin-left: 20%"
                id="pac-input"
                class="controls"
                type="text"
                placeholder="Enter your City or Postal Code"
              />
            </div>

            <div id="map" style="height=100%;">map here</div>
            <div id="infowindow-content">
              <span id="place-address"></span>
            </div>
        </div> <br />
        <!-- end MAP -->


        <div id="location-section">
            <div>Your Location:
                <span id="your-location-value"></span>
            </div>
            <span class="form-group">How far are you willing to travel to meet for a trade?
                <input id="travel-radius" value="50" style="width: 50px" type="number" /> <!--hardcode-->
                <b>Kilometers</b>
            </span>
        </div>
        <br />

        <div style="text-align: center;">
            <button type="button" class="btn btn-outline-info" onclick="confirmLocation()">Confirm Location</button>
            <span id="confirm-location"></span>
        </div> <br />

        <div style="text-align: center;" class="form-group">
            <button onclick="validSignUp()" class="post-button btn btn-outline-info" type="submit">Sign Up</button>
            <span id="sign-up"></span> <br />
            <p style="margin-top: 2%" class="text-muted">By clicking Sign Up, you are indicating that you have read and acknowledge the <a href="#"><u>Terms of Service</u></a>
                and <a href="#"><u>Privacy Notice.</u></a></p>
            <small class="text-muted"><i>Note: <b>Safari</b> and <b>Internet Explorer</b> browsers not supported</i></small>
        </div>

        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>


    <script src="{% static 'googleMapsRegister.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ8ih7kp-wzaVnKt1Bn19ZnWRDIJ8UiQQ&callback=initMap&libraries=places&v=weekly" async>
    $(document).ready(function() {
        ...
        google.maps.event.addDomListener(window, 'load', initMap);
    });
    </script>


{% endblock content %}
